
@{
    ViewBag.Title = "About";
}


<section class="section about-me" id="about-me">

    <div class="container">
        <h2 class="heading">ABOUT</h2>
        <br /><br />
        <div class="container" style="padding-left: 80px">
            <div class="row">
                <div class="col-md-6">
                    <p class=MsoNoSpacing>
                        My academic training in logic and philosophy of mind led
                        me, by several related factors, to my interest in software engineering.
                    </p>



                    <p class=MsoNoSpacing>
                        First, the processes of coding and integrating code are
                        similar, in crucial respects, to constructing arguments in a theoretical field
                        and expressing them in academic writing. They are detail-sensitive, iterative
                        applications of logic. I have demonstrated competence in the second and both
                        are painstaking processes that engross me.
                    </p>



                    <p class=MsoNoSpacing>
                        More specifically, the field of coding languages is
                        related to my interest in the theories about the nature of the mind, artificial
                        intelligence, formal logic, and grammar. Technologies such as Deep Learning and
                        its implementation of a Bayesian model of induction are profoundly
                        significant, and promising, even if they are not representations of real
                        intelligence and the actual human process of induction.  Moreover, if real
                        intelligence with human induction—perhaps augmented in some respects—<i>can </i>be
                        artificially produced, the key to doing so would be arriving at a true theory
                        of the nature of the mind and intelligence, and implementing it
                        technologically. Undoubtedly, a component of the latter would be the requisite
                        new software.
                    </p>



                    <p class=MsoNoSpacing>
                        The advancements in AI represent one kind of leverage
                        technology provides to humans. The progress of technology—especially
                        information technology and its convergence with other fields—its promises of
                        artificially extending human intelligence, longevity, etc.—technology as a tool
                        <i>of </i>and <i>for </i>humans—is, to a large extent, the<i> value</i> I place
                        on it. This value, connected with the nature of the work of software
                        engineering and its relation to important theories in philosophy of mind and
                        logic, is behind my keen interest in technology and motivation to see it “from
                        the inside” by producing it myself.
                    </p>

                    <p class=MsoNoSpacing style='text-indent:.5in'>&nbsp;</p>

                    <p class=MsoNoSpacing style='text-indent:.5in'>&nbsp;</p>

                    <p class=MsoNoSpacing style='text-indent:.5in'> </p>
                </div>
                <div class="col-md-6">
                    <img src="~/assets/img/AboutPic1.png" />
                </div>
            </div>
        </div>

        @*<div class="row interest">
                <div class="col-md-3">
                    <h3 class="sub-heading"><span class="glyphicon glyphicon-headphones"></span> Music</h3>
                    <p>Efficiently revolutionize one-to-one potentialities before B2B models. Continually leverage other's resource-leveling niche markets whereas focused processes. Distinctively transition high standards in total linkage.</p>
                </div>
                <div class="col-md-3">
                    <h3 class="sub-heading"><span class="glyphicon glyphicon-film"></span> Movies</h3>
                    <p>Holisticly pursue pandemic services before distributed experiences. Collaboratively envisioneer just in time niches before ubiquitous e-services. Appropriately enable scalable e-business with leveraged opportunities.</p>
                </div>
                <div class="col-md-3">
                    <h3 class="sub-heading"><span class="glyphicon glyphicon-briefcase"></span> Traveling</h3>
                    <p>Authoritatively transition global web services vis-a-vis user-centric content. Rapidiously innovate principle-centered resources via intuitive models. Monotonectally integrate collaborative core competencies before best-of-breed potentialities.</p>
                </div>
                <div class="col-md-3">
                    <h3 class="sub-heading"><span class="glyphicon glyphicon-book"></span> Books</h3>
                    <p>Holisticly restore resource-leveling methodologies rather than distinctive e-services. Seamlessly whiteboard unique quality vectors via functionalized catalysts for change. Enthusiastically embrace proactive outsourcing through.</p>
                </div>
            </div>*@
        @*<div class="social">
                <h3 class="sub-heading">Follow me on:</h3>
                <ul class="social-icons">
                    <li><a href="#"><i class="icon icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon icon-google-plus"></i></a></li>
                    <li><a href="#"><i class="icon icon-linkedin"></i></a></li>
                    <li><a href="#"><i class="icon icon-dribbble"></i></a></li>
                </ul>
            </div>*@
    </div>
</section>
