f@{
    ViewBag.Title = "";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@



@*<!DOCTYPE html>
        <!--[if lt IE 7 ]><html class="ie ie6" lang="en" class="no-js"> <![endif]-->
        <!--[if IE 7 ]><html class="ie ie7" lang="en" class="no-js"> <![endif]-->
        <!--[if IE 8 ]><html class="ie ie8" lang="en" class="no-js"> <![endif]-->
        <!--[if (gte IE 9)|!(IE)]><!-->
        <html lang="en" class="no-js">
         <!--<![endif]-->
        <head>
            <title>CVilized - Timeline Style CV / Resume / vCard Bootstrap Template</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="Timeline Style CV / Resume / vCard Bootstrap Template.">
            <meta name="author" content="The Develovers">
            <!-- CSS -->
            <link href="~/assets/css/main.css" media="screen, projection" rel="stylesheet" type="text/css">
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
              <script src="~/assets/js/html5shiv.js"></script>
              <script src="~/assets/js/respond.min.js"></script>
            <![endif]-->
            <!-- Fav and touch icons -->
            <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/assets/ico/apple-touch-icon-144-precomposed.png">
            <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/assets/ico/apple-touch-icon-114-precomposed.png">
            <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/assets/ico/apple-touch-icon-72-precomposed.png">
            <link rel="apple-touch-icon-precomposed" href="~/assets/ico/apple-touch-icon-57-precomposed.png">
            <link rel="shortcut icon" href="~/assets/ico/favicon.png">
        </head>
    <body data-spy="scroll" data-target="#main-nav">
        <!-- WRAPPER -->
        <div class="wrapper">

            <!-- main navigation -->
            @*<nav class="navbar navbar-default navbar-fixed-top" id="main-nav" role="navigation">
                <div class="container">
                    <!-- brand and toggle -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav-collapse">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- navigation links -->
                    <div class="collapse navbar-collapse main-nav-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#header">HOME</a></li>
                            <li><a href="#about-me">ABOUT</a></li>
                            <li><a href="#resume">RESUME</a></li>
                            <li><a href="#projects">PORTFOLIO</a></li>
                            <li><a href="#js-exercises">JS EXERCISES</a></li>
                            <li><a href="#contacts">CONTACT</a></li>
                            <li><a href="~/Posts/Index">BLOG</a></li>
                            @*<li><a href="#other">OTHER</a></li
                        </ul>
                    </div>
                </div>
            </nav>*@
<!-- end main navigation -->
<!-- header -->
<header class="jumbotron header" id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left">
                <div class="avatar">
                    <img src="~/assets/img/profile-picture.png" class="img-responsive" alt="Profile Picture" />
                </div>
            </div>
            <div class="col-md-6 right">
                <h1 class="hide">Hammad Hussain</h1>
                <h2 class="heading">Hammad Hussain</h2>
                <p>.NET/JavaScript Software Developer</p>
                <a href="@Url.Action("About", "Home")" class="btn btn-default btn-lg">READ MORE</a>
                @*<a href="#about-me" class="btn btn-default btn-lg">READ MORE</a>*@
                @*<a href="#" class="btn btn-primary btn-lg">DOWNLOAD vCARD</a>*@
            </div>
        </div>
    </div>
</header>
<!-- end header -->
<!-- about-me -->
@*<section class="section about-me" id="about-me">

    <div class="container">
        <h2 class="heading">ABOUT</h2>
        <br /><br />
        <div class="container" style="padding-left: 80px">
            <div class="row">
                <div class="col-md-6">
                    <p class=MsoNoSpacing>
                        My academic training in logic and philosophy of mind led
                        me, by several related factors, to my interest in software engineering.
                    </p>



                    <p class=MsoNoSpacing>
                        First, the processes of coding and integrating code are
                        similar, in crucial respects, to constructing arguments in a theoretical field
                        and expressing them in academic writing. They are detail-sensitive, iterative
                        applications of logic. I have demonstrated competence in the second and both
                        are painstaking processes that engross me.
                    </p>



                    <p class=MsoNoSpacing>
                        More specifically, the field of coding languages is
                        related to my interest in the theories about the nature of the mind, artificial
                        intelligence, formal logic, and grammar. Technologies such as Deep Learning and
                        its implementation of a Bayesian model of induction are profoundly
                        significant, and promising, even if they are not representations of real
                        intelligence and the actual human process of induction.  Moreover, if real
                        intelligence with human induction—perhaps augmented in some respects—<i>can </i>be
                        artificially produced, the key to doing so would be arriving at a true theory
                        of the nature of the mind and intelligence, and implementing it
                        technologically. Undoubtedly, a component of the latter would be the requisite
                        new software.
                    </p>



                    <p class=MsoNoSpacing>
                        The advancements in AI represent one kind of leverage
                        technology provides to humans. The progress of technology—especially
                        information technology and its convergence with other fields—its promises of
                        artificially extending human intelligence, longevity, etc.—technology as a tool
                        <i>of </i>and <i>for </i>humans—is, to a large extent, the<i> value</i> I place
                        on it. This value, connected with the nature of the work of software
                        engineering and its relation to important theories in philosophy of mind and
                        logic, is behind my keen interest in technology and motivation to see it “from
                        the inside” by producing it myself.
                    </p>

                    <p class=MsoNoSpacing style='text-indent:.5in'>&nbsp;</p>

                    <p class=MsoNoSpacing style='text-indent:.5in'>&nbsp;</p>

                    <p class=MsoNoSpacing style='text-indent:.5in'> </p>
                </div>
                <div class="col-md-6">
                    <img src="~/assets/img/AboutPic1.png" />
                </div>
            </div>
        </div>

        @*<div class="row interest">
                <div class="col-md-3">
                    <h3 class="sub-heading"><span class="glyphicon glyphicon-headphones"></span> Music</h3>
                    <p>Efficiently revolutionize one-to-one potentialities before B2B models. Continually leverage other's resource-leveling niche markets whereas focused processes. Distinctively transition high standards in total linkage.</p>
                </div>
                <div class="col-md-3">
                    <h3 class="sub-heading"><span class="glyphicon glyphicon-film"></span> Movies</h3>
                    <p>Holisticly pursue pandemic services before distributed experiences. Collaboratively envisioneer just in time niches before ubiquitous e-services. Appropriately enable scalable e-business with leveraged opportunities.</p>
                </div>
                <div class="col-md-3">
                    <h3 class="sub-heading"><span class="glyphicon glyphicon-briefcase"></span> Traveling</h3>
                    <p>Authoritatively transition global web services vis-a-vis user-centric content. Rapidiously innovate principle-centered resources via intuitive models. Monotonectally integrate collaborative core competencies before best-of-breed potentialities.</p>
                </div>
                <div class="col-md-3">
                    <h3 class="sub-heading"><span class="glyphicon glyphicon-book"></span> Books</h3>
                    <p>Holisticly restore resource-leveling methodologies rather than distinctive e-services. Seamlessly whiteboard unique quality vectors via functionalized catalysts for change. Enthusiastically embrace proactive outsourcing through.</p>
                </div>
            </div>*@
@*<div class="social">
                    <h3 class="sub-heading">Follow me on:</h3>
                    <ul class="social-icons">
                        <li><a href="#"><i class="icon icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon icon-google-plus"></i></a></li>
                        <li><a href="#"><i class="icon icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon icon-dribbble"></i></a></li>
                    </ul>
                </div>
        </div>
    </section>
    <!-- end about-me -->
    <!-- resume -->
    <section class="section resume" id="resume">
        <div class="container">
            <h2 class="heading">RESUME</h2>
            <ul class="timeline">
                <li class="year">2015</li>
                <li class="event">
                    <h3 class="heading">Coder Foundry, Charlotte, NC </h3>
                    <span class="month"><i class="icon icon-calendar"></i>July 2015 - present</span>
                    <p> <b>Student </b></p>
                    <ul>

                        <li> Actively Solving Problems/Building Software Using the Following Languages/Technologies: </li>

                        <ul>
                            <li>  JavaScript/jQuery</li>
                            <li>  C#/.NET </li>
                            <li>  HTML/CSS/Bootstrap</li>
                        </ul>
                    </ul>
                </li>
                <li class="event">
                    <h3 class="heading">Northeast Lakeview College, Universal City, TX </h3>
                    <span class="month"><i class="icon icon-calendar"></i>January 2014 - May 2015</span>
                    <p> <b>Adjunct Faculty </b></p>
                    <ul>

                        <li> Taught Following Courses: </li>

                        <ul>
                            <li>  Introduction to Philosophy, Spring 2014, Fall 2014, Spring 2015.</li>
                            <li>  Introduction to Ethics, Spring 2014, Fall 2014, Spring 2015   </li>
                        </ul>
                    </ul>
                </li>
                <li class="year">2013</li>
                <li class="event">
                    <h3 class="heading">Texas State University, San Marcos, TX </h3>
                    <span class="month"><i class="icon icon-calendar"></i>August 2010 - December 2014</span>
                    <p> <b>Lecturer </b></p>
                    <ul>

                        <li> Taught Following Courses: </li>

                        <ul>
                            <li>  Philosophy and Critical Thinking, Spring 2011, Summer 2011, Fall 2011, Fall 2013.</li>
                            <li>  Ethics and Society, Fall 2010, Fall 2011, Spring 2012, Fall 2012, Spring 2013, Spring 2014, Fall 2014. </li>
                            <li>  History of Philosophy before 1600, Spring 2011.</li>
                        </ul>
                    </ul>
                </li>
                <li class="event">
                    <h3 class="heading">Ashford University, Clinton, IA </h3>
                    <span class="month"><i class="icon icon-calendar"></i>February 2012 - July 2012</span>
                    <p> <b>Online Associate Faculty </b></p>
                    <ul>
                        <li> Taught two consecutive online sections of Informal Logic.  </li>

                    </ul>
                    @*<figure>
                           <img src="~/assets/img/skills.png" alt="Skills" />
                      </figure>
                </li>
                <li class="year">2010</li>
                <li class="event">
                    <h3 class="heading">University of Oklahoma, Norman, OK </h3>
                    <span class="month"><i class="icon icon-calendar"></i>August 2005 - May 2009</span>
                    <p> <b>Graduate Teaching Assistant/Foundation Fellow/Adjunct Instructor </b></p>
                    <ul>

                        <li> Assisted with Grading, Etc., for the Following Courses: </li>

                        <ul>
                            <li>  History of Ancient Philosophy, Fall 2005.</li>
                            <li>Introduction to Ethics, Spring 2006.</li>
                            <li>   Introduction to Philosophy, Fall 2006.</li>
                        </ul>

                        <li> Taught Following Courses:</li>
                        <ul>
                            <li> Introduction to Philosophy, Spring 2007, Summer 2008, and Spring 2009.</li>
                            <li> Critical Reasoning, Fall 2008.</li>
                        </ul>
                    </ul>
                </li>
            </ul>
        </div>
        <hr>
        <div> <br /> <br /> <br /> <br /> </div>
        <div class="container" style="padding-left:120px">
            <div class=WordSection1>

                <p class=MsoNormal><b style='mso-bidi-font-weight:normal'>EDUCATION COMPLETED:<o:p></o:p></b></p>

                <ul style='margin-top:0in' type=disc>
                    <li class=MsoNormal style='mso-list:l0 level1 lfo1;tab-stops:list .5in'>
                        University
                        of Oklahoma, Norman, OK (2005-2010), PhD.
                    </li>


                    <div class=MsoNormal style='text-indent:.5in'>
                        Doctoral Dissertation: <i style='mso-bidi-font-style:normal'>
                            Aristotle’s ‘Genetic Account’ and the
                            Problem of Induction.<o:p></o:p>
                        </i>
                    </div>

                    <div class=MsoNormal style='text-indent:.5in'>
                        Advisory Committee Members: Hugh H.
                        Benson (Chair), Monte L. Cook, James
                    </div>

                    <div class=MsoNormal style='margin-left:.5in;text-indent:.5in'>
                        Hawthorne, Chris <span class=SpellE>Swoyer</span>, Steven J. <span class=SpellE>Livesey</span>.
                    </div>
                    <li class=MsoNormal style='mso-list:l0 level1 lfo1;tab-stops:list .5in'>
                        University
                        of Houston, University Park, Houston, TX (2003-2005), M.A.
                    </li>
                    <li class=MsoNormal style='mso-list:l0 level1 lfo1;tab-stops:list .5in'>
                        Rutgers
                        University, Newark, NJ (1999-2002), B.A. (Honors).
                    </li>
                    <li class=MsoNormal style='mso-list:l0 level1 lfo1;tab-stops:list .5in'>
                        New
                        Jersey Institute of Technology, Newark, NJ (1988-1993), B.S., Computer
                        Science.
                    </li>
                </ul>

                <p class=MsoNormal><o:p>&nbsp;</o:p></p>

            </div>
        </div>
    </section>
    <!-- end resume -->
    <!-- projects -->
    <section class="section projects" id="projects">
        <div class="container">
            <h2 class="heading">PORTFOLIO</h2>
            <p> </p>
            <div class="row project-list">
                <ul class="project-grid project-effect-shrink">
                    <li class="col-md-6">
                        @*<figure>
                                <img src="~/assets/img/projects/big-thing-landing-page.png" alt="Projects" />
                                <figcaption>
                                    <div class="project-item-info">
                                        <h3 class="sub-heading">Big Thing Landing Page</h3>
                                        <p> Projects coming soon!</p>
                                        <p> text </p>
                                        <a href="#" class="btn btn-default">View Details</a>
                                    </div>
                                </figcaption>
                            </figure>
                    </li>
                    <li class="col-md-6">
                        <a href="#js-exercises"><h3>JavaScript Exercises</h3></a>
                        <figure>
                            @*<img src="~/assets/img/projects/tiick-tock-coming-soon-page.png" alt="JavaScript Exercises" />

                            <figcaption>
                                <div class="project-item-info">
                                    @*<h3 class="sub-heading">Tiick Tock Coming Soon Page</h3>
                                    @*<p>Appropriately engage functional potentialities for principle-centered customer service.</p>*@
@*<a href="#" class="btn btn-default">View Details</a>
                                        </div>
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- end projects -->
            <!-- js exercises -->
            <section class="section js-exercises" id="js-exercises">
                <div class="container">
                    <h2 class="heading">JAVASCRIPT EXERCISES</h2>

                    <!--Place links followed by the modal code w/HTML/JS/JQ code here.-->
                    <br /><br />
                    <div style="padding-left:120px">
                        <table style="width: 100%; vertical-align:top; margin: auto;">
                            <tr>
                                <td><a href="" data-toggle="modal" data-target="#max" class="btn" style="background-color:#bc341b; color:white"><b>Max of Five</b></a></td>
                                <td><a href="" data-toggle="modal" data-target="#sum" class="btn" style="background-color:#bc341b; color:white"><b>Sum and Multiply</b></a></td>
                                <td><a href="" data-toggle="modal" data-target="#fac" class="btn" style="background-color:#bc341b; color:white"><b>Factorial</b></a></td>
                                <td><a href="" data-toggle="modal" data-target="#pal" class="btn" style="background-color:#bc341b; color:white"><b>Palindrome</b></a></td>
                            </tr>
                            <tr>
                                <td><a href="" data-toggle="modal" data-target="#fizz" class="btn" style="background-color:#bc341b; color:white"><b>FizzBuzz</b></a></td>
                                <td><a href="" data-toggle="modal" data-target="#perfect" class="btn" style="background-color:#bc341b; color:white"><b>Perfect Numbers</b></a></td>
                                <td><a href="" data-toggle="modal" data-target="#happy" class="btn" style="background-color:#bc341b; color:white"><b>Happy Numbers</b></a></td>
                                <td><a href="" data-toggle="modal" data-target="#arm" class="btn" style="background-color:#bc341b; color:white"><b>Armstrong Numbers</b></a></td>
                            </tr>
                            <tr>
                                <td><a href="" data-toggle="modal" data-target="#find" class="btn" style="background-color:#bc341b; color:white"><b>Find Largest Word</b></a></td>
                                <td><a href="" data-toggle="modal" data-target="#filter" class="btn" style="background-color:#bc341b; color:white"><b>Filter Long Words</b></a></td>
                                <td><a href="" data-toggle="modal" data-target="#wf" class="btn" style="background-color:#bc341b; color:white"><b>Word Frequency</b></a></td>
                                <td><a href="" data-toggle="modal" data-target="#fw" class="btn" style="background-color:#bc341b; color:white"><b>Find Words</b></a></td>
                            </tr>
                        </table>
                    </div>
                </div>






















                @*<div class="row project-list">
                            <ul class="project-grid project-effect-shrink">
                                <li class="col-md-6">
                                    <figure>
                                        <img src="~/assets/img/projects/big-thing-landing-page.png" alt="Big Thing Landing Page" />
                                        <figcaption>
                                            <div class="project-item-info">
                                                <h3 class="sub-heading">Big Thing Landing Page</h3>
                                                <p>Progressively pursue visionary functionalities through vertical ROI. Uniquely unleash alternative experiences vis-a-vis.</p>
                                                <a href="#" class="btn btn-default">View Details</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="col-md-6">
                                    <figure>
                                        <img src="~/assets/img/projects/tiick-tock-coming-soon-page.png" alt="Tiick Tock Coming Soon Page" />
                                        <figcaption>
                                            <div class="project-item-info">
                                                <h3 class="sub-heading">Tiick Tock Coming Soon Page</h3>
                                                <p>Appropriately engage functional potentialities for principle-centered customer service.</p>
                                                <a href="#" class="btn btn-default">View Details</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>
            </section>


            @*JavaScript Modals
            <div class="modal fade" id="max" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h1 class="modal-title" id="myModalLabel1">Max of Five</h1>
                        </div>
                        <div class="modal-body col-sm-12">
                            <script>
                                function maxOfFive() {
                                    var c = parseFloat($("#q").val());
                                    var d = parseFloat($("#r").val());
                                    var e = parseFloat($("#s").val());
                                    var f = parseFloat($("#t").val());
                                    var g = parseFloat($("#u").val());
                                    var a = [c, d, e, f, g];
                                    var max = a[0];
                                    for (x = 1; x <= 4; x++)
                                        if ((max < a[x]) || isNaN(max))
                                            max = a[x];
                                    if (isNaN(max))
                                        max = " ";
                                    $("#output").text(max);
                                }
                            </script>

                            <p>
                                First number: <br>
                                <input type="number" id="q"> <br>
                                Second number: <br>
                                <input type="number" id="r"> <br>
                                Third number: <br>
                                <input type="number" id="s"> <br>
                                Fourth number: <br>
                                <input type="number" id="t"> <br>
                                Fifth number: <br>
                                <input type="number" id="u"> <br>
                                <button onclick="maxOfFive()">Submit</button>

                            </p>


                            <p> The highest number is: <span id="output"> </span></p>

                            <pre class="brush: js text">
    function maxOfFive() {
            var c = parseFloat($("#q").val());
            var d = parseFloat($("#r").val());
            var e = parseFloat($("#s").val());
            var f = parseFloat($("#t").val());
            var g = parseFloat($("#u").val());
            var a = [c, d, e, f, g];
            var max = a[0];
            for (x = 1; x <= 4; x++)
            if ((max < a[x]) || isNaN(max))
                max = a[x];
            if (isNaN(max))
            max = " ";
            $("#output").text(max);
    }
                                </pre>
                        </div>
                        <div class="modal-footer no-margin">
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="sum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h1 class="modal-title" id="myModalLabel2">Sum and Multiply</h1>
                        </div>
                        <div class="modal-body col-sm-12">
                            <p>
                                Please enter a number or series of numbers separated by commas.<br>
                                <textarea id="ip2"> </textarea>
                            </p>

                            <p>
                                <input type="button" value="Add" onclick="sum()">
                                <input type="button" value="Multiply" onclick="multiply()">
                            </p>

                            <p id="op2">

                            </p>

                            <script>
                                function readText2() {
                                    var ri = $("#ip2").val();
                                    var series = ri.split(",");
                                    var sl = series.length - 1;
                                    var flag = 0;
                                    for (x = 0; x <= sl; x++) {
                                        series[x] = parseFloat(series[x]);
                                        if (isNaN(series[x]))
                                            flag = 1;
                                    }
                                    var package = [flag, sl, series];
                                    return package;
                                }
                                function writeText2(f, rtype, r) {
                                    if (f == 1)
                                        ops2 = "The input is invalid. Please enter only numbers (separated by commas).";
                                    else
                                        ops2 = "The " + rtype + " is " + String(r) + ".";
                                    $("#op2").text(ops2);
                                }
                                function sum() {
                                    var resulttype = "sum";
                                    var sumres = 0;
                                    var pack = readText2();
                                    var fl = pack[0];
                                    var ls = pack[1];
                                    var list = pack[2];
                                    if (fl == 0)
                                        for (x = 0; x <= ls; x++)
                                            sumres += list[x];
                                    writeText2(fl, resulttype, sumres);
                                }
                                function multiply() {
                                    var resulttype = "product";
                                    var prodres = 1;
                                    var pack = readText2();
                                    var fl = pack[0];
                                    var ls = pack[1];
                                    var list = pack[2];
                                    if (fl == 0)
                                        for (x = 0; x <= ls; x++)
                                            prodres *= list[x];
                                    writeText2(fl, resulttype, prodres);
                                }
                            </script>

                            <pre class="brush: js text">
    function readText2() {
        var ri = $("#ip2").val();
        var series = ri.split(",");
        var sl = series.length - 1;
        var flag = 0;
        for (x = 0; x <= sl; x++) {
            series[x] = parseFloat(series[x]);
            if (isNaN(series[x]))
                flag = 1;
        }
        var package = [flag, sl, series];
        return package;
    }
    function writeText2(f, rtype, r) {
        if (f == 1)
            ops2 = "The input is invalid. Please enter only numbers (separated by commas).";
        else
            ops2 = "The " + rtype + " is " + String(r) + ".";
        $("#op2").text(ops2);
    }
    function sum() {
        var resulttype = "sum";
        var sumres = 0;
        var pack = readText2();
        var fl = pack[0];
        var ls = pack[1];
        var list = pack[2];
        if (fl == 0)
            for (x = 0; x <= ls; x++)
                sumres += list[x];
        writeText2(fl, resulttype, sumres);
    }
    function multiply() {
        var resulttype = "product";
        var prodres = 1;
        var pack = readText2();
        var fl = pack[0];
        var ls = pack[1];
        var list = pack[2];
        if (fl == 0)
            for (x = 0; x <= ls; x++)
                prodres *= list[x];
        writeText2(fl, resulttype, prodres);
    }
                                </pre>

                        </div>
                        <div class="modal-footer no-margin">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="fac" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h1 class="modal-title" id="myModalLabel3">Factorial</h1>
                        </div>
                        <div class="modal-body col-sm-12">
                            <p>
                                A factorial is of a positive integer, and is calculated by multiplying all positive integers leading up to and including a given positive integer.
                                <br /><br />
                                For example, the factorial of 4 is: 4! = 4 x 3 x 2 x 1 =  24. <br> <br>
                                Please enter a positive integer to get its factorial.<br>
                                <input type="number" id="ip3">
                            </p>

                            <p>
                                <input type="button" value="Submit" onclick="factorial()">
                            </p>



                            <p id="op3">

                            </p>


                            <script>
                                function readText3() {
                                    flag = 0;
                                    var num = parseFloat($("#ip3").val());
                                    if (isNaN(num) || (num < 1) || (num != Math.floor(num)))
                                        flag = 1;
                                    var package = [flag, num];
                                    return package;
                                }

                                function writeText3(f, number, fac) {
                                    if (f == 1)
                                        ops3 = "The input is invalid. Please enter a positive integer only.";
                                    else {
                                        ops3 = "The factorial of " + String(number) + " is " + String(fac) + ".";
                                    }
                                    $("#op3").text(ops3);
                                }

                                function factorial() {
                                    var pack = readText3();
                                    var fl = pack[0];
                                    var n = pack[1];
                                    if (fl == 0) {
                                        var result = 1;
                                        for (x = 1; x <= n; x++)
                                            result *= x;
                                    }
                                    writeText3(fl, n, result);
                                }

                            </script>

                            <pre class="brush: js text">
    function readText3() {
        flag = 0;
        var num = parseFloat($("#ip3").val());
        if (isNaN(num) || (num < 1) || (num != Math.floor(num)))
            flag = 1;
        var package = [flag, num];
        return package;
    }
    function writeText3(f, number, fac) {
        if (f == 1)
            ops3 = "The input is invalid. Please enter a positive integer only.";
        else {
            ops3 = "The factorial of " + String(number) + " is " + String(fac) + ".";
        }
        $("#op3").text(ops3);
    }
    function factorial() {
        var pack = readText3();
        var fl = pack[0];
        var n = pack[1];
        if (fl == 0) {
            var result = 1;
            for (x = 1; x <= n; x++)
                result *= x;
        }
        writeText3(fl, n, result);
    }
                                    </pre>


                        </div>
                        <div class="modal-footer no-margin">
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="pal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h1 class="modal-title" id="myModalLabel4">Palindrome</h1>
                        </div>
                        <div class="modal-body col-sm-12">
                            <p>
                                A palindrome is a string, such as &ldquo;level&rdquo;, that is spelled the same way forward and backward.
                                <br> <br>
                                Please enter a string to determine if it is a palindrome.<br>
                                <textarea id="ip4"> </textarea>
                            </p>

                            <p>
                                <button onclick="palindrome()">Submit</button>
                            </p>

                            <p>
                                True or False: This string is a palindrome. <br>
                                <span id="op4"> </span>
                            </p>

                            <script>
                                function palindrome() {
                                    var instr = $("#ip4").val();
                                    var rev = "";
                                    var len = instr.length - 1;
                                    for (x = len; x >= 0; x--)
                                        rev += instr.charAt(x);
                                    result = (instr == rev);
                                    $("#op4").text(String(result).toUpperCase());
                                }
                            </script>

                            <pre class="brush: js text">
    function palindrome() {
        var instr = $("#ip4").val();
        var rev = "";
        var len = instr.length - 1;
        for (x = len; x >= 0; x--)
            rev += instr.charAt(x);
        result = (instr == rev);
        $("#op4").text(String(result).toUpperCase());
    }
                                    </pre>

                        </div>
                        <div class="modal-footer no-margin">
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="fizz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h1 class="modal-title" id="myModalLabel5">FizzBuzz</h1>
                        </div>
                        <div class="modal-body col-sm-12">
                            <p>
                                This program will display the integers from 1 to 100, substituting &rdquo;Fizz&rdquo; for multiples of 3,
                                &rdquo;Buzz&ldquo; for multiples of 5, and &rdquo;FizzBuzz&rdquo; for multiples 3 <i>and</i> 5. <br>
                                <br>
                                Click to display.
                            </p>

                            <p>
                                <button onclick="fizzBuzz()">Click Me</button>
                            </p>

                            <p id="op5" style="white-space: pre-wrap"> </p>

                            <script>
                                function fizzBuzz() {
                                    var output5 = "";
                                    for (x5 = 1; x5 <= 100; x5++) {
                                        result5 = "";
                                        if (x5 % 3 == 0)
                                            result5 = "Fizz";
                                        if (x5 % 5 == 0)
                                            result5 += "Buzz";
                                        if (result5 == "")
                                            result5 = String(x5);
                                        result5 += "      ";
                                        output5 += result5;
                                    }
                                    $("#op5").text(output5);
                                }
                            </script>

                            <pre class="brush: js text">
    function fizzBuzz() {
        var output5 = "";
        for (x5 = 1; x5 <= 100; x5++) {
            result5 = "";
            if (x5 % 3 == 0)
                result5 = "Fizz";
            if (x5 % 5 == 0)
                result5 += "Buzz";
            if (result5 == "")
                result5 = String(x5);
            result5 += "      ";
            output5 += result5;
        }
        $("#op5").text(output5);
    }
                                </pre>
                        </div>
                        <div class="modal-footer no-margin">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="perfect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel6" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h1 class="modal-title" id="myModalLabel6">Perfect Numbers</h1>
                        </div>
                        <div class="modal-body col-sm-12">
                            <p>
                                A &ldquo;perfect number&rdquo; is a positive integer that is the sum of its positive divisors, excluding itself. <br>
                                <br />
                                For example, 6, which is the sum of its divisors 1, 2, and 3, is a perfect number.
                                <br><br>
                                Please choose one of the following.
                            </p>

                            <p>
                                <input type="button" value="Determine if a number is perfect" onclick="perfectNumIO()">
                                <input type="button" value="Display perfect numbers from 1 to 10,000" onclick="displayPerfects()">
                            </p>
                            <br>
                            <br>

                            <p id="op6" style="white-space: pre-wrap">

                            </p>



                            <script>
                                function perfectNumIO() {
                                    var flag = 1;
                                    var ip6;
                                    var x;
                                    var error = "";
                                    var stringmod = "";
                                    var ops6;
                                    while (flag == 1) {
                                        ip6 = prompt(error + "Please enter a number.");
                                        if (["", null].indexOf(ip6) > -1)
                                            //error = "";
                                            break;
                                        var error = "The input is invalid. ";
                                        var x = parseFloat(ip6);
                                        if (!isNaN(x))
                                            flag = 0;
                                    }
                                    if (["", null].indexOf(ip6) > -1)
                                        return;
                                    if (isPerfect(x) == false)
                                        stringmod = " not";
                                    ops6 = ip6 + " is";
                                    ops6 += stringmod;
                                    ops6 += " a perfect number.";
                                    $("#op6").text(ops6);
                                }

                                function isPerfect(num) {
                                    if ((num < 6) || (num % Math.floor(num) != 0))
                                        return false;
                                    var sum = 1;
                                    var upper = Math.floor(num / 2);
                                    for (var counter = 2; counter <= upper; counter++) {
                                        if (num % counter == 0) {
                                            sum += counter;
                                            var quotient = num / counter;
                                            if (quotient != counter)
                                                sum += quotient;
                                            upper = quotient - 1;
                                        }
                                    }
                                    if (num == sum)
                                        return true;
                                    else
                                        return false;
                                }

                                function displayPerfects() {
                                    var ops6 = "";
                                    for (n = 1; n <= 10000; n++)
                                        if (isPerfect(n))
                                            ops6 = ops6 + String(n) + "   ";
                                    $("#op6").text(ops6);
                                }


                            </script>

                            <pre class="brush: js text">
    function perfectNumIO() {
    var flag = 1;
    var ip6;
    var x;
    var error = "";
    var stringmod = "";
    var ops6;
    while (flag == 1) {
        ip6 = prompt(error + "Please enter a number.");
        if (["", null].indexOf(ip6) > -1)
            //error = "";
            break;
        var error = "The input is invalid. ";
        var x = parseFloat(ip6);
        if (!isNaN(x))
            flag = 0;
    }
    if (["", null].indexOf(ip6) > -1)
        return;
    if (isPerfect(x) == false)
        stringmod = " not";
    ops6 = ip6 + " is";
    ops6 += stringmod;
    ops6 += " a perfect number.";
    $("#op6").text(ops6);
    }
    function isPerfect(num) {
    if ((num < 6) || (num % Math.floor(num) != 0))
        return false;
    var sum = 1;
    var upper = Math.floor(num / 2);
    for (var counter = 2; counter <= upper; counter++) {
        if (num % counter == 0) {
            sum += counter;
            var quotient = num / counter;
            if (quotient != counter)
                sum += quotient;
            upper = quotient - 1;
        }
    }
    if (num == sum)
        return true;
    else
        return false;
    }
    function displayPerfects() {
    var ops6 = "";
    for (n = 1; n <= 10000; n++)
        if (isPerfect(n))
            ops6 = ops6 + String(n) + "   ";
    $("#op6").text(ops6);
    }
                                </pre>


                        </div>
                        <div class="modal-footer no-margin">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="happy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel7" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h1 class="modal-title" id="myModalLabel7">Happy Numbers</h1>
                        </div>
                        <div class="modal-body col-sm-12">
                            <p>
                                A Happy Number is one that can be reduced to 1 by replacing it with the sum of the square of its digits,
                                replacing that with the sum of the square of its own digits, etc., until the result is 1.
                                <br><br>
                                Click the button to display the first five Happy Numbers.
                            </p>
                            <p>
                                <input type="button" value="Click Me" onclick="displayHappyNums()">
                            </p>

                            <p id="op7" style="white-space: pre-wrap">

                            </p>

                            <script>
                                function isHappy(num) {
                                    function countInstances(chr, str) {
                                        var result = 0;
                                        for (x = 0; x <= str.length; x++) {
                                            if (str.charAt(x) == chr)
                                                result++
                                        }
                                        return result;
                                    }
                                    if (num == 1)
                                        return true;
                                    if ((num % 10 == 0) & countInstances("1", String(num)) == 1)
                                        return true;
                                    var sadends = [4, 16, 37, 58, 89, 145, 42, 20];
                                    var digit = 0;
                                    var smsq = 0;
                                    var numc = num;
                                    while (2 == 2) {
                                        while (numc > 0) {
                                            digit = numc % 10;
                                            smsq += digit * digit;
                                            numc = (numc - digit) / 10;
                                        }
                                        if (smsq == 1)
                                            return true;
                                        if (sadends.indexOf(smsq) > -1)
                                            return false;
                                        numc = smsq;
                                        smsq = 0;
                                    }
                                }

                                function displayHappyNums() {
                                    var count = 0;
                                    var ops7 = "";
                                    for (var n = 1; 2 == 2; n++) {
                                        if (isHappy(n)) {
                                            ops7 = ops7 + String(n) + "   ";
                                            count++;
                                        }
                                        if (count == 5)
                                            break;
                                    }
                                    $("#op7").text(ops7);
                                }
                            </script>

                            <pre class="brush: js text">
    function isHappy(num) {
        function countInstances(chr, str) {
            var result = 0;
            for (x = 0; x <= str.length; x++) {
                if (str.charAt(x) == chr)
                    result++
            }
            return result;
        }
        if (num == 1)
            return true;
        if ((num % 10 == 0) & countInstances("1", String(num)) == 1)
            return true;
        var sadends = [4, 16, 37, 58, 89, 145, 42, 20];
        var digit = 0;
        var smsq = 0;
        var numc = num;
        while (2 == 2) {
            while (numc > 0) {
                digit = numc % 10;
                smsq += digit * digit;
                numc = (numc - digit) / 10;
            }
            if (smsq == 1)
                return true;
            if (sadends.indexOf(smsq) > -1)
                return false;
            numc = smsq;
            smsq = 0;
        }
    }
    function displayHappyNums() {
        var count = 0;
        var ops7 = "";
        for (var n = 1; 2 == 2; n++) {
            if (isHappy(n)) {
                ops7 = ops7 + String(n) + "   ";
                count++;
            }
            if (count == 5)
                break;
        }
        $("#op7").text(ops7);
    }
                                    </pre>


                        </div>
                        <div class="modal-footer no-margin">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="arm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel8" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h1 class="modal-title" id="myModalLabel8">Armstrong Numbers</h1>
                        </div>
                        <div class="modal-body col-sm-12">
                            <p>
                                An Armstrong number is a positive integer that is the sum of each of its digits raised to the power of the number of its digits.
                                <br><br>
                                For example, 371 is an Armstrong number, since 3<sup>3</sup> + 7<sup>3</sup> + 1<sup>3</sup> = 371.
                                <br>
                                <br>
                                Click the button to display all three-digit Armstrong Numbers.
                            </p>
                            <p>
                                <input type="button" value="Click Me" onclick="disp3DigArmstrong()">
                            </p>

                            <p id="op8" style="white-space: pre-wrap">

                            </p>


                            <script>
                                function disp3DigArmstrong() {
                                    var ops8 = "";
                                    for (hundreds = 1; hundreds <= 9; hundreds++)
                                        for (tens = 0; tens <= 9; tens++)
                                            for (ones = 0; ones <= 9; ones++) {
                                                var num = hundreds * 100 + tens * 10 + ones;
                                                var cubedsum = Math.pow(hundreds, 3) + Math.pow(tens, 3) + Math.pow(ones, 3);
                                                if (num == cubedsum)
                                                    ops8 = ops8 + String(num) + "   ";
                                            }
                                    $("#op8").text(ops8);
                                }
                            </script>

                            <pre class="brush: js text">
    function disp3DigArmstrong() {
    var ops8 = "";
    for (hundreds = 1; hundreds <= 9; hundreds++)
        for (tens = 0; tens <= 9; tens++)
            for (ones = 0; ones <= 9; ones++) {
                var num = hundreds * 100 + tens * 10 + ones;
                var cubedsum = Math.pow(hundreds, 3) + Math.pow(tens, 3) + Math.pow(ones, 3);
                if (num == cubedsum)
                    ops8 = ops8 + String(num) + "   ";
            }
    $("#op8").text(ops8);
    }
                                    </pre>


                        </div>

                        <div class="modal-footer no-margin">
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="find" tabindex="-1" role="dialog" aria-labelledby="myModalLabel9" aria-hidden="true">

                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h1 class="modal-title" id="myModalLabel9">Find Largest Word</h1>
                        </div>
                        <div class="modal-body col-sm-12">
                            <p>
                                <button type="button" onclick="findLargestWord()" id="ip9"> Click to begin </button>
                            </p>

                            <form>
                                <input type="file" id="fileinput9">
                            </form>


                            <p> The largest word in the file is: </p>

                            <p id="op9">




                            </p>
                            <script type="text/javascript" src="~/assets/js/jquery-1.7.2.min.js"></script>
                            <script>
                                function findLargestWord() {
                                    $(document).ready(function () {
                                        function readFile(evt) {    		//evt is the 'change' event object in this context
                                            var f = evt.target.files[0];	//Event object evt has property 'target' and the target in this case are the files
                                            if (f) {
                                                var r = new FileReader();	//FileReader object

                                                //Defining the function it is executed once .readAsText() calls it after that has finish executing
                                                r.onload = function (e) {		//Once the FileReader has finish reading via r.readAsText(f)
                                                    alert(r.result);
                                                    var filetext = r.result;
                                                    var wordarray = filetext.split(/\W/);
                                                    var largestword = "";
                                                    for (var index in wordarray) {
                                                        word = wordarray[index];
                                                        if (word.length > largestword.length)
                                                            largestword = word;
                                                    }
                                                    $("#op9").text(largestword);
                                                }
                                                //Reads the file as text and then calls the function the onload is linked to
                                                r.readAsText(f);
                                            }
                                            else
                                                alert("Failed to load file");
                                        }
                                        function display9() {
                                            $("#fileinput9").show("slow");
                                            $("#ip9").hide();
                                        }
                                        $("#ip9").click(display9());
                                        $("#fileinput9").change(readFile);
                                    })
                                }
                                $("#fileinput9").hide();
                            </script>
                            <pre class="brush: js text">
    function findLargestWord() {
        $(document).ready(function () {
            function readFile(evt) {    		//evt is the 'change' event object in this context
                var f = evt.target.files[0];	//Event object evt has property 'target' and the target in this case are the files
                if (f) {
                    var r = new FileReader();	//FileReader object
                    //Defining the function it is executed once .readAsText() calls it after that has finish executing
                    r.onload = function (e) {		//Once the FileReader has finish reading via r.readAsText(f)
                        alert(r.result);
                        var filetext = r.result;
                        var wordarray = filetext.split(/\W/);
                        var largestword = "";
                        for (var index in wordarray) {
                            word = wordarray[index];
                            if (word.length > largestword.length)
                                largestword = word;
                        }
                        $("#op9").text(largestword);
                    }
                    //Reads the file as text and then calls the function the onload is linked to
                    r.readAsText(f);
                }
                else
                    alert("Failed to load file");
            }
            function display9() {
                $("#fileinput9").show("slow");
                $("#ip9").hide();
            }
            $("#ip9").click(display9());
            $("#fileinput9").change(readFile);
        })
    }
    $("#fileinput9").hide();
                                    </pre>

                        </div>
                        <div class="modal-footer no-margin">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h1 class="modal-title" id="myModalLabel10">Filter Long Words</h1>
                        </div>
                        <div class="modal-body col-sm-12">
                            <p>
                                <button type="button" onclick="filterLongWords()" id="ip10"> Click to begin </button>
                            </p>


                            <form>
                                <input type="file" id="fileinput10">
                            </form>

                            <p id="op10">

                            </p>

                            <p id="op10b" style="white-space: pre-line">

                            </p>

                            <script type="text/javascript" src="~/assets/js/jquery-1.7.2.min.js"></script>
                            <script>
                                function filterLongWords() {				//Unfinished--continue editing.
                                    $(document).ready(function () {
                                        function readFile(evt) {    		//evt is the 'change' event object in this context
                                            var f = evt.target.files[0];	//Event object evt has property 'target' and the target in this case are the files
                                            if (f) {
                                                var r = new FileReader();	//FileReader object
                                                //Defining the function it, is executed once .readAsText() calls it after that has finish executing
                                                r.onload = function (e) {		//Once the FileReader has finish reading via r.readAsText(f)
                                                    alert(r.result);
                                                    var filetext = r.result;
                                                    var wordarray = filetext.split(/\W/);
                                                    var minlen = "";
                                                    var flag = false;
                                                    while (isNaN(minlen) || (minlen < 1) || (minlen != Math.floor(minlen))) {
                                                        if (flag)
                                                            alert("The input is invalid. Please enter a positive integer only.");
                                                        minlen = prompt("Please enter the minimum word length sought.");
                                                        flag = true;
                                                    }
                                                    var filteredwords = [];
                                                    for (var index in wordarray) {
                                                        word = wordarray[index];
                                                        if (word.length >= minlen)
                                                            filteredwords.push(" " + word);
                                                    }
                                                    var ops10 = "The words in the file at least " + String(minlen) + " characters in length are the following.";
                                                    $("#op10").text(ops10);
                                                    $("#op10b").text(filteredwords);
                                                }
                                                //Reads the file as text and then calls the function the onload is linked to
                                                r.readAsText(f);
                                            }
                                            else
                                                alert("Failed to load file");
                                        }
                                        function display10() {
                                            $("#fileinput10").show("slow");
                                            $("#ip10").hide();
                                        }
                                        $("#ip10").click(display10());
                                        $("#fileinput10").change(readFile);
                                    })
                                }
                                $("#fileinput10").hide();
                            </script>

                            <pre class="brush: js text">
    function filterLongWords() {				//Unfinished--continue editing.
        $(document).ready(function () {
            function readFile(evt) {    		//evt is the 'change' event object in this context
                var f = evt.target.files[0];	//Event object evt has property 'target' and the target in this case are the files
                if (f) {
                    var r = new FileReader();	//FileReader object
                    //Defining the function it, is executed once .readAsText() calls it after that has finish executing
                    r.onload = function (e) {		//Once the FileReader has finish reading via r.readAsText(f)
                        alert(r.result);
                        var filetext = r.result;
                        var wordarray = filetext.split(/\W/);
                        var minlen = "";
                        var flag = false;
                        while (isNaN(minlen) || (minlen < 1) || (minlen != Math.floor(minlen))) {
                            if (flag)
                                alert("The input is invalid. Please enter a positive integer only.");
                            minlen = prompt("Please enter the minimum word length sought.");
                            flag = true;
                        }
                        var filteredwords = [];
                        for (var index in wordarray) {
                            word = wordarray[index];
                            if (word.length >= minlen)
                                filteredwords.push(" " + word);
                        }
                        var ops10 = "The words in the file at least " + String(minlen) + " characters in length are the following.";
                        $("#op10").text(ops10);
                        $("#op10b").text(filteredwords);
                    }
                    //Reads the file as text and then calls the function the onload is linked to
                    r.readAsText(f);
                }
                else
                    alert("Failed to load file");
            }
            function display10() {
                $("#fileinput10").show("slow");
                $("#ip10").hide();
            }
            $("#ip10").click(display10());
            $("#fileinput10").change(readFile);
        })
    }
    $("#fileinput10").hide();
                                    </pre>
                        </div>
                        <div class="modal-footer no-margin">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="wf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel11" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h1 class="modal-title" id="myModalLabel11">Word Frequency</h1>
                        </div>
                        <div class="modal-body col-sm-12">
                            <p>
                                <button type="button" onclick="wordFreq()" id="ip11"> Click to begin </button>
                            </p>

                            <form>
                                <input type="file" id="fileinput11">
                            </form>



                            <p

                            <p id="op11">

                            </p>


                            <script type="text/javascript" src="~/assets/js/jquery-1.7.2.min.js"></script>
                            <script>
                                function wordFreq() {
                                    $(document).ready(function () {
                                        function readFile(evt) {    		//evt is the 'change' event object in this context
                                            var f = evt.target.files[0];	//Event object evt has property 'target' and the target in this case are the files
                                            if (f) {
                                                var r = new FileReader();	//FileReader object
                                                //Defining the function it, is executed once .readAsText() calls it after that has finish executing
                                                r.onload = function (e) {		//Once the FileReader has finish reading via r.readAsText(f)
                                                    alert(r.result);
                                                    var filetext = r.result;
                                                    var wordarray = filetext.split(/\W/);
                                                    var filewords = [];
                                                    var wordcount = [];
                                                    for (var index in wordarray) {
                                                        var word = wordarray[index].toUpperCase();
                                                        var present = false;
                                                        for (var i = 0; i < filewords.length; i++) {
                                                            if (word.length > 0) {
                                                                if (word == filewords[i]) {
                                                                    present = true;
                                                                    wordcount[i]++;
                                                                    break;
                                                                }
                                                            }
                                                        }
                                                        if (!present) {
                                                            if (word.length > 0) {
                                                                filewords.push(word);
                                                                wordcount.push(1);
                                                            }
                                                        }
                                                    }
                                                    var switched;
                                                    do {
                                                        switched = false;
                                                        for (i2 = 0; i2 < wordcount.length - 1; i2++) {
                                                            if (wordcount[i2] > wordcount[i2 + 1]) {
                                                                var wctemp = wordcount[i2];
                                                                wordcount[i2] = wordcount[i2 + 1];
                                                                wordcount[i2 + 1] = wctemp;
                                                                var fwtemp = filewords[i2];
                                                                filewords[i2] = filewords[i2 + 1];
                                                                filewords[i2 + 1] = fwtemp;
                                                                switched = true;
                                                            }
                                                        }
                                                    } while (switched);
                                                    var msg = "The words in the file and their frequencies are as follows: <br><br>";
                                                    for (var i4 = 0; i4 < wordcount.length; i4++) {
                                                        tword = wordcount[i4] == 1 ? " time" : " times";
                                                        msg += "The word '" + filewords[i4] + "' appears " + wordcount[i4] + tword + ". <br>";
                                                    }
                                                    document.getElementById("op11").innerHTML = msg;
                                                }
                                                //Reads the file as text and then calls the function the onload is linked to
                                                r.readAsText(f);
                                            }
                                            else
                                                alert("Failed to load file");
                                        }
                                        function display11() {
                                            $("#fileinput11").show("slow");
                                            $("#ip11").hide();
                                        }
                                        $("#ip11").click(display11());
                                        $("#fileinput11").change(readFile);
                                    })
                                }
                                $("#fileinput11").hide();
                            </script>

                            <pre class="brush: js text">
        function wordFreq() {
        $(document).ready(function () {
            function readFile(evt) {    		//evt is the 'change' event object in this context
                var f = evt.target.files[0];	//Event object evt has property 'target' and the target in this case are the files
                if (f) {
                    var r = new FileReader();	//FileReader object
                    //Defining the function it, is executed once .readAsText() calls it after that has finish executing
                    r.onload = function (e) {		//Once the FileReader has finish reading via r.readAsText(f)
                        alert(r.result);
                        var filetext = r.result;
                        var wordarray = filetext.split(/\W/);
                        var filewords = [];
                        var wordcount = [];
                        for (var index in wordarray) {
                            var word = wordarray[index].toUpperCase();
                            var present = false;
                            for (var i = 0; i < filewords.length; i++) {
                                if (word.length > 0) {
                                    if (word == filewords[i]) {
                                        present = true;
                                        wordcount[i]++;
                                        break;
                                    }
                                }
                            }
                            if (!present) {
                                if (word.length > 0) {
                                    filewords.push(word);
                                    wordcount.push(1);
                                }
                            }
                        }
                        var switched;
                        do {
                            switched = false;
                            for (i2 = 0; i2 < wordcount.length - 1; i2++) {
                                if (wordcount[i2] > wordcount[i2 + 1]) {
                                    var wctemp = wordcount[i2];
                                    wordcount[i2] = wordcount[i2 + 1];
                                    wordcount[i2 + 1] = wctemp;
                                    var fwtemp = filewords[i2];
                                    filewords[i2] = filewords[i2 + 1];
                                    filewords[i2 + 1] = fwtemp;
                                    switched = true;
                                }
                            }
                        } while (switched);
                        var msg = "The words in the file and their frequencies are as follows: <br><br>";
                        for (var i4 = 0; i4 < wordcount.length; i4++) {
                            tword = wordcount[i4] == 1 ? " time" : " times";
                            msg += "The word '" + filewords[i4] + "' appears " + wordcount[i4] + tword + ". <br>";
                        }
                        document.getElementById("op11").innerHTML = msg;
                    }
                    //Reads the file as text and then calls the function the onload is linked to
                    r.readAsText(f);
                }
                else
                    alert("Failed to load file");
            }
            function display11() {
                $("#fileinput11").show("slow");
                $("#ip11").hide();
            }
            $("#ip11").click(display11());
            $("#fileinput11").change(readFile);
        })
    }
    $("#fileinput11").hide();
                                    </pre>
                        </div>
                        <div class="modal-footer no-margin">
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="fw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel12" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h1 class="modal-title" id="myModalLabel12">Find Words</h1>
                        </div>
                        <div class="modal-body col-sm-12">
                            <p>
                                <button type="button" onclick="findWord()" id="ip12"> Click to begin </button>
                            </p>


                            <form>
                                <input type="file" id="fileinput12">
                            </form>





                            <p id="op12">

                            </p>


                            <script type="text/javascript" src="~/assets/js/jquery-1.7.2.min.js"></script>
                            <script>
                                function findWord() {
                                    $(document).ready(function () {
                                        function readFile(evt) {    		//evt is the 'change' event object in this context
                                            var f = evt.target.files[0];	//Event object evt has property 'target' and the target in this case are the files
                                            if (f) {
                                                var r = new FileReader();	//FileReader object
                                                //Defining the function it, is executed once .readAsText() calls it after that has finish executing
                                                r.onload = function (e) {		//Once the FileReader has finish reading via r.readAsText(f)
                                                    alert(r.result);
                                                    var filetext = r.result;
                                                    var wordarray = filetext.split(/\W/);
                                                    var targetword = prompt("Please enter the word you are seeking.");
                                                    targetword = targetword.toUpperCase();
                                                    var freq = 0;
                                                    for (var index in wordarray) {
                                                        word = wordarray[index];
                                                        if (word.toUpperCase() == targetword)
                                                            freq++;
                                                    }
                                                    tword = "times";
                                                    if (freq == 1)
                                                        tword = "time";
                                                    var ops12 = "The word '" + targetword + "' appears " + String(freq) + " " + tword + " in the file."
                                                    $("#op12").text(ops12);
                                                }
                                                //Reads the file as text and then calls the function the onload is linked to
                                                r.readAsText(f);
                                            }
                                            else
                                                alert("Failed to load file");
                                        }
                                        function display12() {
                                            $("#fileinput12").show("slow");
                                            $("#ip12").hide();
                                        }
                                        $("#ip12").click(display12());
                                        $("#fileinput12").change(readFile);
                                    })
                                }
                                $("#fileinput12").hide();
                            </script>

                            <pre class="brush: js text">
    function findWord() {
        $(document).ready(function () {
            function readFile(evt) {    		//evt is the 'change' event object in this context
                var f = evt.target.files[0];	//Event object evt has property 'target' and the target in this case are the files
                if (f) {
                    var r = new FileReader();	//FileReader object
                    //Defining the function it, is executed once .readAsText() calls it after that has finish executing
                    r.onload = function (e) {		//Once the FileReader has finish reading via r.readAsText(f)
                        alert(r.result);
                        var filetext = r.result;
                        var wordarray = filetext.split(/\W/);
                        var targetword = prompt("Please enter the word you are seeking.");
                        targetword = targetword.toUpperCase();
                        var freq = 0;
                        for (var index in wordarray) {
                            word = wordarray[index];
                            if (word.toUpperCase() == targetword)
                                freq++;
                        }
                        tword = "times";
                        if (freq == 1)
                            tword = "time";
                        var ops12 = "The word '" + targetword + "' appears " + String(freq) + " " + tword + " in the file."
                        $("#op12").text(ops12);
                    }
                    //Reads the file as text and then calls the function the onload is linked to
                    r.readAsText(f);
                }
                else
                    alert("Failed to load file");
            }
            function display12() {
                $("#fileinput12").show("slow");
                $("#ip12").hide();
            }
            $("#ip12").click(display12());
            $("#fileinput12").change(readFile);
        })
    }
    $("#fileinput12").hide();
                                    </pre>
                        </div>
                        <div class="modal-footer no-margin">
                        </div>
                    </div>

                </div>

            </div>







            @*End JS Modals*@


<!-- end js-exercises -->
<!-- contacts -->
<!-- end contacts -->
<!-- other -->
@*<section class="section other" id="other">
                <div class="container">
                    <h2 class="heading">OTHER</h2>
                    <p></p>
                    @*<div class="row interest">
                        <div class="col-md-3">
                            <h3 class="sub-heading"><span class="glyphicon glyphicon-headphones"></span> Music</h3>
                            <p>Efficiently revolutionize one-to-one potentialities before B2B models. Continually leverage other's resource-leveling niche markets whereas focused processes. Distinctively transition high standards in total linkage.</p>
                        </div>
                        <div class="col-md-3">
                            <h3 class="sub-heading"><span class="glyphicon glyphicon-film"></span> Movies</h3>
                            <p>Holisticly pursue pandemic services before distributed experiences. Collaboratively envisioneer just in time niches before ubiquitous e-services. Appropriately enable scalable e-business with leveraged opportunities.</p>
                        </div>
                        <div class="col-md-3">
                            <h3 class="sub-heading"><span class="glyphicon glyphicon-briefcase"></span> Traveling</h3>
                            <p>Authoritatively transition global web services vis-a-vis user-centric content. Rapidiously innovate principle-centered resources via intuitive models. Monotonectally integrate collaborative core competencies before best-of-breed potentialities.</p>
                        </div>
                        <div class="col-md-3">
                            <h3 class="sub-heading"><span class="glyphicon glyphicon-book"></span> Books</h3>
                            <p>Holisticly restore resource-leveling methodologies rather than distinctive e-services. Seamlessly whiteboard unique quality vectors via functionalized catalysts for change. Enthusiastically embrace proactive outsourcing through.</p>
                        </div>
                    </div>
                    @*<div class="social">
                        <h3 class="sub-heading">Follow me on:</h3>
                        <ul class="social-icons">
                            <li><a href="#"><i class="icon icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon icon-google-plus"></i></a></li>
                            <li><a href="#"><i class="icon icon-linkedin"></i></a></li>
                            <li><a href="#"><i class="icon icon-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </section>
        <!-- end other -->
        <!-- footer -->
        <footer class="footer"></footer>
        <!-- end footer -->
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script type="text/javascript" src="~/assets/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/modernizr.js"></script>
    @*<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="~/assets/js/jquery.ui.map.full.min.js?ver=3.0"></script>
    <script type="text/javascript" src="~/assets/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.localscroll-1.2.7-min.js"></script>
    <script type="text/javascript" src="~/assets/js/main.js"></script>*@
</body>
    </html>
@*@section scripts {
        <script>
            SyntaxHighlighter.all();
        </script>
    }*@