@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section resume" id="resume">
    <div class="container">
        <h2 class="heading">RESUME</h2>
        <ul class="timeline">
            <li class="year">2015</li>
            <li class="event">
                <h3 class="heading">Coder Foundry, Charlotte, NC </h3>
                <span class="month"><i class="icon icon-calendar"></i>July 2015 - present</span>
                <p> <b>Student </b></p>
                <ul>

                    <li> Actively Solving Problems/Building Software Using the Following Languages/Technologies: </li>

                    <ul>
                        <li>  JavaScript/jQuery/AngularJS</li>
                        <li>  C#/.NET </li>
                        <li>  HTML/CSS/Bootstrap</li>
                    </ul>
                </ul>
            </li>
            <li class="event">
                <h3 class="heading">Northeast Lakeview College, Universal City, TX </h3>
                <span class="month"><i class="icon icon-calendar"></i>January 2014 - May 2015</span>
                <p> <b>Adjunct Faculty </b></p>
                <ul>

                    <li> Taught Following Courses: </li>

                    <ul>
                        <li>  Introduction to Philosophy, Spring 2014, Fall 2014, Spring 2015.</li>
                        <li>  Introduction to Ethics, Spring 2014, Fall 2014, Spring 2015   </li>
                    </ul>
                </ul>
            </li>
            <li class="year">2013</li>
            <li class="event">
                <h3 class="heading">Texas State University, San Marcos, TX </h3>
                <span class="month"><i class="icon icon-calendar"></i>August 2010 - December 2014</span>
                <p> <b>Lecturer </b></p>
                <ul>

                    <li> Taught Following Courses: </li>

                    <ul>
                        <li>  Philosophy and Critical Thinking, Spring 2011, Summer 2011, Fall 2011, Fall 2013.</li>
                        <li>  Ethics and Society, Fall 2010, Fall 2011, Spring 2012, Fall 2012, Spring 2013, Spring 2014, Fall 2014. </li>
                        <li>  History of Philosophy before 1600, Spring 2011.</li>
                    </ul>
                </ul>
            </li>
            <li class="event">
                <h3 class="heading">Ashford University, Clinton, IA </h3>
                <span class="month"><i class="icon icon-calendar"></i>February 2012 - July 2012</span>
                <p> <b>Online Associate Faculty </b></p>
                <ul>
                    <li> Taught two consecutive online sections of Informal Logic.  </li>

                </ul>
                @*<figure>
                         <img src="~/assets/img/skills.png" alt="Skills" />
                    </figure>*@
            </li>
            <li class="year">2010</li>
            <li class="event">
                <h3 class="heading">University of Oklahoma, Norman, OK </h3>
                <span class="month"><i class="icon icon-calendar"></i>August 2005 - May 2009</span>
                <p> <b>Graduate Teaching Assistant/Foundation Fellow/Adjunct Instructor </b></p>
                <ul>

                    <li> Assisted with Grading, Etc., for the Following Courses: </li>

                    <ul>
                        <li>  History of Ancient Philosophy, Fall 2005.</li>
                        <li>Introduction to Ethics, Spring 2006.</li>
                        <li>   Introduction to Philosophy, Fall 2006.</li>
                    </ul>

                    <li> Taught Following Courses:</li>
                    <ul>
                        <li> Introduction to Philosophy, Spring 2007, Summer 2008, and Spring 2009.</li>
                        <li> Critical Reasoning, Fall 2008.</li>
                    </ul>
                </ul>
            </li>
        </ul>
    </div>
    <hr>
    <div> <br /> <br /> <br /> <br /> </div>
    <div class="container" style="padding-left:120px">
        <div class=WordSection1>

            <p class=MsoNormal><b style='mso-bidi-font-weight:normal'>EDUCATION COMPLETED:<o:p></o:p></b></p>

            <ul style='margin-top:0in' type=disc>
                <li class=MsoNormal style='mso-list:l0 level1 lfo1;tab-stops:list .5in'>
                    University
                    of Oklahoma, Norman, OK (2005-2010), PhD.
                </li>


                <div class=MsoNormal style='text-indent:.5in'>
                    Doctoral Dissertation: <i style='mso-bidi-font-style:normal'>
                        Aristotle’s ‘Genetic Account’ and the
                        Problem of Induction.<o:p></o:p>
                    </i>
                </div>

                <div class=MsoNormal style='text-indent:.5in'>
                    Advisory Committee Members: Hugh H.
                    Benson (Chair), Monte L. Cook, James
                </div>

                <div class=MsoNormal style='margin-left:.5in;text-indent:.5in'>
                    Hawthorne, Chris <span class=SpellE>Swoyer</span>, Steven J. <span class=SpellE>Livesey</span>.
                </div>
                <li class=MsoNormal style='mso-list:l0 level1 lfo1;tab-stops:list .5in'>
                    University
                    of Houston, University Park, Houston, TX (2003-2005), M.A.
                </li>
                <li class=MsoNormal style='mso-list:l0 level1 lfo1;tab-stops:list .5in'>
                    Rutgers
                    University, Newark, NJ (1999-2002), B.A. (Honors).
                </li>
                <li class=MsoNormal style='mso-list:l0 level1 lfo1;tab-stops:list .5in'>
                    New
                    Jersey Institute of Technology, Newark, NJ (1988-1993), B.S., Computer
                    Science.
                </li>
            </ul>

            <p class=MsoNormal><o:p>&nbsp;</o:p></p>

        </div>
    </div>
</section>



@*<section class="section resume" id="resume">
    <div class="container">
        <h2 class="heading">RESUME</h2>
        <ul class="timeline">
            <li class="year">2013</li>
            <li class="event">
                <h3 class="heading">Senior Web Designer</h3>
                <span class="month"><i class="icon icon-calendar"></i>September 2007 - present</span>
                <p>Dramatically reconceptualize diverse imperatives whereas out-of-the-box manufactured products. Dynamically negotiate seamless data via proactive ideas. Globally seize revolutionary imperatives rather than standardized niches.</p>
            </li>
            <li class="event">
                <h3 class="heading">Web Developer &amp; Designer</h3>
                <span class="month"><i class="icon icon-calendar"></i>January 2007 - September 2007</span>
                <p>Dynamically procrastinate proactive methodologies and multimedia based materials. Phosfluorescently incentivize magnetic leadership skills before inexpensive users.</p>
            </li>
            <li class="year">2006</li>
            <li class="event">
                <h3 class="heading">Internship Program at Visual Dream Inc.</h3>
                <span class="month"><i class="icon icon-calendar"></i>August 2006 - December 2006</span>
                <p>Globally transition unique solutions vis-a-vis dynamic niche markets. Interactively recaptiualize superior leadership without end-to-end catalysts for change. Globally extend worldwide data without quality. Efficiently disseminate premium markets for strategic initiatives. Completely orchestrate effective e-business and unique partnerships.</p>
            </li>
            <li class="event">
                <h3 class="heading">Freelance Project</h3>
                <span class="month"><i class="icon icon-calendar"></i>June 2006 - August 2006</span>
                <p>Globally transition unique solutions vis-a-vis dynamic niche markets. Interactively recaptiualize superior leadership without end-to-end catalysts for change. Globally extend worldwide data without quality. Efficiently disseminate premium markets for strategic initiatives. Completely orchestrate effective e-business and unique partnerships.</p>
                <figure>
                    <img src="assets/img/skills.png" alt="Skills" />
                </figure>
            </li>
            <li class="year">2003</li>
            <li class="event">
                <h3 class="heading">University of Design</h3>
                <span class="month"><i class="icon icon-calendar"></i>October 2003 - May 2006</span>
                <p> Globally extend worldwide data without quality. Efficiently disseminate premium markets for strategic initiatives. Completely orchestrate effective e-business and unique partnerships.</p>
            </li>
        </ul>
    </div>
</section>*@

