<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hhussain.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hhussain.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>hhussain</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$hhussain</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HussainsDB" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:mbmuw7kmu9.database.windows.net,1433;Initial Catalog=hhussain_db;User ID=CoderFoundry@mbmuw7kmu9;Password=LearnToCode1" Name="Data Source=tcp:mbmuw7kmu9.database.windows.net,1433;Initial Catalog=hhussain_db;User Id=CoderFoundry@mbmuw7kmu9;Password=LearnToCode1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Hussain___Website.Models.ApplicationDbContext, Hussain - Website" MigrationConfiguration="Hussain___Website.Migrations.Configuration, Hussain - Website" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=&quot;|DataDirectory|\aspnet-Hussain - Website-20150707091728.mdf&quot;;Initial Catalog=&quot;aspnet-Hussain - Website-20150707091728&quot;;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;AttachDbFilename=&quot;|DataDirectory|\aspnet-Hussain - Website-20150707091728.mdf&quot;;Initial Catalog=&quot;aspnet-Hussain - Website-20150707091728&quot;;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HussainsDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mbmuw7kmu9.database.windows.net,1433;Initial Catalog=hhussain_db;User Id=CoderFoundry@mbmuw7kmu9;Password=LearnToCode1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>